<section id="profile">
    <div class="container border border-primary">
        <div class="row profile">
            <div class="col-md-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
            </div>
            <div class="col-md-10">
                <div class="Username">
                    Username
                </div>
                <div>
                    <a>Logout</a>
                </div>
            </div>
        </div>
        <div class="row options">
            <div class="col-md-4">
                <div class="border border-2">
                    <h4>Dashboard</h4>
                </div>
                <div class="border border-2">
                    <h4>Change Password</h4>
                </div>
                <div class="border border-2">
                    <h4>Profile Info</h4>
                </div>
                <div class="border border-2">
                    <h4>Others</h4>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h6>Hello admin</h6>
                </div>
            </div>

        </div>
    </div>
</section>